@charset "utf-8";
/* CSS Document */
body{
	background-color:#FFFFFF;
}
#Banner {
	text-align: center;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	color: #FFFFFF;
	font-style: italic;
	background-color:#079A0A;
}

#Nav_Bar {
	text-align: center;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
	font-size: 12px;
	background-color:#B8B8B8;
	color:#FFFFFF;
} 

#Main_content {
	text-align: center;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 16px;
	background-color:#0F81C9;
	color:white;
}

#Footer {
	text-align: right;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	font-size: 10px;
}